.Dev-Info {
	margin-top: 30pt;
	font-size: 5pt;
}

.Explanations {
	font-size: 12pt;
}

.NoList {
	width: 100%;
}

.Bill-Button {
	width: 100pt;
	margin-top: 20pt;
}

.PaymentMethod-Button {
	width: 75pt;
	margin: 10pt;
}


span.CreditCardBalanceCol {
	width: 50vw;
}

.CreditCardBalanceLabel {
	display: block;
}